language: node_js
node_js:
  - 0.10

sudo: false

cache:
  directories:
    - node_modules
    - bower_components

addons:
  sauce_connect:
    username: scribe-ci
    access_key: 4be9eeed-61de-4948-b18d-f7f655e9e4b0
env:
  matrix:
    - BROWSER_NAME='firefox' BROWSER_VERSION='31' PLATFORM='Windows XP'
    - BROWSER_NAME='firefox' BROWSER_VERSION='32' PLATFORM='Windows XP'
    - BROWSER_NAME='firefox' BROWSER_VERSION='33' PLATFORM='Windows XP'
    - BROWSER_NAME='firefox' BROWSER_VERSION='33' PLATFORM='OS X 10.9'
    - BROWSER_NAME='chrome' BROWSER_VERSION='35' PLATFORM='Windows XP'
    - BROWSER_NAME='chrome' BROWSER_VERSION='36' PLATFORM='Windows XP'
    - BROWSER_NAME='chrome' BROWSER_VERSION='37' PLATFORM='Windows XP'
    - BROWSER_NAME='chrome' BROWSER_VERSION='38' PLATFORM='Windows XP'
    - BROWSER_NAME='chrome' BROWSER_VERSION='38' PLATFORM='OS X 10.8'

before_install:
  - npm install -g bower
  - bower install

script: npm test
