.decal-left (@svgPath, @background-color){
  &:before {
    content: "";
    background-image: url(@svgPath);
    background-size: 11px;
    background-position: 50%;
    background-repeat: no-repeat;
    position: inherit;
    margin-left: -4px;
    margin-right: 2px;
    padding-top: 0.12em;
    padding-bottom: 0.05em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: @background-color;
    border-bottom: 1px solid @background-color;
    cursor:pointer;
  }
}
