/* original note background without opacity in hex: #e6f2f7; */
@note-background-colour: rgba(230, 242, 247, 0.7);
@note-border-colour: rgba(41, 131, 182, 1);
@note-text-colour: #767676;

.note {
    background: @note-background-colour;

    position: relative;
    vertical-align: bottom;
    pointer-events: none;

    display: inline;
    margin: 0;
    color: @note-text-colour;
    padding: 2px 0;

    &:hover {
        cursor: inherit;
        color: inherit;
    }
}

.note--collapsed {
    display: none;

    /* only the start of the note used to display collapsed note */
    &.note--start {
        transition: width 0.15s ease,
                    margin 0.15s ease;
        padding: 0;
        margin: 0 2px;
        width: 14px;
        height: 20px;
        display: inline-block;
        overflow: hidden;
        text-indent: 24px;
        vertical-align: middle;
        pointer-events: all;
    }

    &:hover {
        margin: 0;
        width: 18px;
        cursor: pointer;
    }
}

.note--start {
    margin-left: 1px;
    padding-left: 4px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 8 20' version='1.1'><path d='M 0 0 L 6 0 L 0 6 L 0 0 L 2 0 L 2 20 L 0 20' fill='rgba(41, 131, 182, 1)' stroke='none'/></svg>");
    background-size: 0.5em;
    background-position: top left;
    background-repeat: no-repeat;
}


.note--end {
    margin-right: 1px;
    padding-right: 4px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 8 20' version='1.1'><path d='M 8 20 L 2 20 L 8 14 L 8 20 L 6 20 L 6 0 L 8 0' fill='rgba(41, 131, 182, 1)' stroke='none'/></svg>");
    background-size: 0.5em;
    background-position: bottom right;
    background-repeat: no-repeat;
}


.note--start.note--end {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 8 20' version='1.1'><path d='M 0 0 L 6 0 L 0 6 L 0 0 L 2 0 L 2 20 L 0 20' fill='rgba(41, 131, 182, 1)' stroke='none'/></svg>"), url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 8 20' version='1.1'><path d='M 8 20 L 2 20 L 8 14 L 8 20 L 6 20 L 6 0 L 8 0' fill='rgba(41, 131, 182, 1)' stroke='none'/></svg>");
    background-size: 0.5em, 0.5em;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}


/**
 * Hitzone pseudo-elements used for hitzones at start and end of notes for
 * toggling note collapse.
 */
.note-hitzone() {
    content: ' ';
    position: absolute;
    width: 8px;
    height: 100%;
    cursor: pointer;
    pointer-events: all;
}

.note--start::before {
    .note-hitzone;
    margin-left: -5px;
}

.note--end::after {
    .note-hitzone;
}


.note-barrier {
    /* Keeps note barriers inline. */
    display: inline-block;
}
