/* original note background without opacity in hex: #e6f2f7; */
@note-background-colour: rgba(230, 242, 247, 0.7);
@note-border-colour: rgba(41, 131, 182, 1);
@note-text-colour: #767676;

@flag-background-colour: rgba(223, 169, 99, 0.1);
@flag-border-colour: rgba(250, 155, 33, 1);
@flag-decal-colour: white;
@flag-text-colour: #404040;
@flag-uri: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgMTI4IDEyOCI+PHBhdGggZD0iTTMxLjU2NCAwSDEzLjkwN3YxMjhoMTcuNjU3Vjc3LjcxNXptLS40MjQgMTIuNzE3UzQzLjU5IDEuODgyIDU0LjAyNiAxLjg4MmMxMC40NCAwIDIxLjgyNSAxMC44MzUgMzUuODg0IDEwLjgzNSAxNC4wNDQgMCAyNC40OC0xMC44MzUgMjQuNDgtMTAuODM1VjY2LjNzLTEwLjAzNSAxMS4yNC0yMC4wNyAxMS4yNGMtMTAuMDMyIDAtMjQuMjM1LTEwLjQyOC0zOC42ODctMTAuNDI4LTE0LjQ0NyAwLTI0LjQ5MiAxMC40My0yNC40OTIgMTAuNDNWMTIuNzE2eiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==";

@correct-background-colour: rgba(164, 202, 147, 0.1);
@correct-border-colour: rgba(100, 156, 75, 1);
@correct-decal-colour: white;
@correct-text-colour: #404040;
@correct-uri: "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMTI4cHgiIGhlaWdodD0iMTI4cHgiIHZpZXdCb3g9IjAgMCAxMjggMTI4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjggMTI4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iMTI4LDE5LjI3NSAxMjAuNSwxMy4wNSAzNS4yNiw4MS40MTEgMTAuMjE3LDU2LjU0IDAsNjIuOTUxIDMzLjM5NywxMTQuMTA4IDM2LjUyOCwxMTQuMTA4ICIvPg0KPC9zdmc+DQo=";
