/* original note background without opacity in hex: #e6f2f7; */
/* SVG Borders for note */
.note-collapsed {
  display: none;
  /* only the start of the note used to display collapsed note */
}
.note-collapsed.note--start {
  transition: width 0.15s ease,
    margin 0.15s ease;
  padding: 0;
  margin: 0 2px;
  width: 14px;
  height: 1em;
  display: inline-block;
  overflow: hidden;
  text-indent: 24px;
  vertical-align: middle;
  pointer-events: all;
}
.note-collapsed:hover {
  margin: 0;
  width: 18px;
  cursor: pointer;
}
gu-note.note {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 2 1' version='1.1'><line x1='0' y1='0' x2='2' y2='0' stroke='%232983b6' stroke-dasharray='1'/></svg>") top / 2px repeat-x, url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 2 1' version='1.1'><line x1='0' y1='0' x2='2' y2='0' stroke='%232983b6' stroke-dasharray='1'/></svg>") bottom / 2px repeat-x;
  background-color: rgba(230, 242, 247, 0.7);
  position: relative;
  vertical-align: bottom;
  pointer-events: none;
  display: inline;
  margin: 0;
  color: #767676;
  padding: 2px 0;
  z-index: 20;
}
gu-note.note:hover {
  cursor: inherit;
}
gu-note.note--start {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 8 20' version='1.1'><path d='M 0 0 L 6 0 L 0 6 L 0 0 L 2 0 L 2 20 L 0 20' fill='%232983b6' stroke='none'/></svg>") top left / contain no-repeat, url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 2 1' version='1.1'><line x1='0' y1='0' x2='2' y2='0' stroke='%232983b6' stroke-dasharray='1'/></svg>") top / 2px repeat-x, url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 2 1' version='1.1'><line x1='0' y1='0' x2='2' y2='0' stroke='%232983b6' stroke-dasharray='1'/></svg>") bottom / 2px repeat-x;
  background-color: rgba(230, 242, 247, 0.7);
  position: relative;
  vertical-align: bottom;
  pointer-events: none;
  display: inline;
  margin: 0;
  color: #767676;
  padding: 2px 0;
  margin-left: 1px;
  padding-left: 4px;
}
gu-note.note--start:hover {
  cursor: inherit;
}
gu-note.note--end {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 8 20' version='1.1'><path d='M 8 20 L 2 20 L 8 14 L 8 20 L 6 20 L 6 0 L 8 0' fill='%232983b6' stroke='none'/></svg>") bottom right / contain no-repeat, url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 2 1' version='1.1'><line x1='0' y1='0' x2='2' y2='0' stroke='%232983b6' stroke-dasharray='1'/></svg>") top / 2px repeat-x, url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 2 1' version='1.1'><line x1='0' y1='0' x2='2' y2='0' stroke='%232983b6' stroke-dasharray='1'/></svg>") bottom / 2px repeat-x;
  background-color: rgba(230, 242, 247, 0.7);
  position: relative;
  vertical-align: bottom;
  pointer-events: none;
  display: inline;
  margin: 0;
  color: #767676;
  padding: 2px 0;
  margin-right: 1px;
  padding-right: 4px;
}
gu-note.note--end:hover {
  cursor: inherit;
}
gu-note.note--collapsed {
  display: none;
  /* only the start of the note used to display collapsed note */
}
gu-note.note--collapsed.note--start {
  transition: width 0.15s ease,
    margin 0.15s ease;
  padding: 0;
  margin: 0 2px;
  width: 14px;
  height: 1em;
  display: inline-block;
  overflow: hidden;
  text-indent: 24px;
  vertical-align: middle;
  pointer-events: all;
}
gu-note.note--collapsed:hover {
  margin: 0;
  width: 18px;
  cursor: pointer;
}
gu-note.note--start.note--end,
gu-note.note--start.note--collapsed {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 8 20' version='1.1'><path d='M 0 0 L 6 0 L 0 6 L 0 0 L 2 0 L 2 20 L 0 20' fill='%232983b6' stroke='none'/></svg>") top left / contain no-repeat, url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 2 1' version='1.1'><line x1='0' y1='0' x2='2' y2='0' stroke='%232983b6' stroke-dasharray='1'/></svg>") top / 2px repeat-x, url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 2 1' version='1.1'><line x1='0' y1='0' x2='2' y2='0' stroke='%232983b6' stroke-dasharray='1'/></svg>") bottom / 2px repeat-x, url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 8 20' version='1.1'><path d='M 8 20 L 2 20 L 8 14 L 8 20 L 6 20 L 6 0 L 8 0' fill='%232983b6' stroke='none'/></svg>") bottom right / contain no-repeat;
  background-color: rgba(230, 242, 247, 0.7);
  margin-right: 1px;
  padding-right: 4px;
  margin-left: 1px;
  padding-left: 4px;
}
gu-note.note--collapse gu-flag,
gu-note.note--collapse gu-correct {
  display: none;
}
gu-note gu-flag,
gu-note gu-correct {
  z-index: -1;
}
gu-flag.note {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 2 1' version='1.1'><line x1='0' y1='0' x2='2' y2='0' stroke='%23fa9b21' stroke-dasharray='1'/></svg>") top / 2px repeat-x, url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 2 1' version='1.1'><line x1='0' y1='0' x2='2' y2='0' stroke='%23fa9b21' stroke-dasharray='1'/></svg>") bottom / 2px repeat-x;
  background-color: rgba(223, 169, 99, 0.3);
  position: relative;
  vertical-align: bottom;
  pointer-events: none;
  display: inline;
  margin: 0;
  color: #767676;
  padding: 2px 0;
}
gu-flag.note:hover {
  cursor: inherit;
}
gu-flag.note--start {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 2 1' version='1.1'><line x1='0' y1='0' x2='2' y2='0' stroke='%23fa9b21' stroke-dasharray='1'/></svg>") top / 2px repeat-x, url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 2 1' version='1.1'><line x1='0' y1='0' x2='2' y2='0' stroke='%23fa9b21' stroke-dasharray='1'/></svg>") bottom / 2px repeat-x;
  background-color: rgba(223, 169, 99, 0.3);
  position: relative;
  vertical-align: bottom;
  pointer-events: none;
  display: inline;
  margin: 0;
  color: #767676;
  padding: 2px 0;
  margin-left: 1px;
  padding-left: 4px;
}
gu-flag.note--start:before {
  content: '\2691';
  position: inherit;
  margin-left: -4px;
  margin-right: 2px;
  padding: 0.17em 0.3em;
  background-color: #fa9b21;
  border-bottom: 1px solid #fa9b21;
  color: white;
  font-size: 0.9em;
  cursor: pointer;
}
gu-flag.note--start:hover {
  cursor: inherit;
}
gu-flag.note--end {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 8 20' version='1.1'><path d='M 8 20 L 2 20 L 8 14 L 8 20 L 6 20 L 6 0 L 8 0' fill='%23fa9b21' stroke='none'/></svg>") bottom right / contain no-repeat, url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 2 1' version='1.1'><line x1='0' y1='0' x2='2' y2='0' stroke='%23fa9b21' stroke-dasharray='1'/></svg>") top / 2px repeat-x, url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 2 1' version='1.1'><line x1='0' y1='0' x2='2' y2='0' stroke='%23fa9b21' stroke-dasharray='1'/></svg>") bottom / 2px repeat-x;
  background-color: rgba(223, 169, 99, 0.3);
  position: relative;
  vertical-align: bottom;
  pointer-events: none;
  display: inline;
  margin: 0;
  color: #767676;
  padding: 2px 0;
  margin-right: 1px;
  padding-right: 4px;
}
gu-flag.note--end:hover {
  cursor: inherit;
}
gu-flag.note--collapsed {
  display: none;
  /* only the start of the note used to display collapsed note */
}
gu-flag.note--collapsed.note--start {
  transition: width 0.15s ease,
    margin 0.15s ease;
  padding: 0;
  margin: 0 2px;
  width: 14px;
  height: 1em;
  display: inline-block;
  overflow: hidden;
  text-indent: 24px;
  vertical-align: middle;
  pointer-events: all;
}
gu-flag.note--collapsed:hover {
  margin: 0;
  width: 18px;
  cursor: pointer;
}
gu-flag.note--start.note--end,
gu-flag.note--start.note--collapsed {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 2 1' version='1.1'><line x1='0' y1='0' x2='2' y2='0' stroke='%23fa9b21' stroke-dasharray='1'/></svg>") top / 2px repeat-x, url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 2 1' version='1.1'><line x1='0' y1='0' x2='2' y2='0' stroke='%23fa9b21' stroke-dasharray='1'/></svg>") bottom / 2px repeat-x, url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 8 20' version='1.1'><path d='M 8 20 L 2 20 L 8 14 L 8 20 L 6 20 L 6 0 L 8 0' fill='%23fa9b21' stroke='none'/></svg>") bottom right / contain no-repeat;
  background-color: rgba(223, 169, 99, 0.3);
  margin-right: 1px;
  padding-right: 4px;
  margin-left: 1px;
  padding-left: 4px;
}
gu-flag.note--start.note--end:before,
gu-flag.note--start.note--collapsed:before {
  content: '\2691';
  position: inherit;
  margin-left: -4px;
  margin-right: 2px;
  padding: 0.17em 0.3em;
  background-color: #fa9b21;
  border-bottom: 1px solid #fa9b21;
  color: white;
  font-size: 0.9em;
  cursor: pointer;
}
gu-correct.note {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 2 1' version='1.1'><line x1='0' y1='0' x2='2' y2='0' stroke='%23649c4b' stroke-dasharray='1'/></svg>") top / 2px repeat-x, url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 2 1' version='1.1'><line x1='0' y1='0' x2='2' y2='0' stroke='%23649c4b' stroke-dasharray='1'/></svg>") bottom / 2px repeat-x;
  background-color: rgba(164, 202, 147, 0.3);
  position: relative;
  vertical-align: bottom;
  pointer-events: none;
  display: inline;
  margin: 0;
  color: #767676;
  padding: 2px 0;
}
gu-correct.note:hover {
  cursor: inherit;
}
gu-correct.note--start {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 8 20' version='1.1'><path d='M 0 0 L 6 0 L 0 6 L 0 0 L 2 0 L 2 20 L 0 20' fill='%23649c4b' stroke='none'/></svg>") top left / contain no-repeat, url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 2 1' version='1.1'><line x1='0' y1='0' x2='2' y2='0' stroke='%23649c4b' stroke-dasharray='1'/></svg>") top / 2px repeat-x, url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 2 1' version='1.1'><line x1='0' y1='0' x2='2' y2='0' stroke='%23649c4b' stroke-dasharray='1'/></svg>") bottom / 2px repeat-x;
  background-color: rgba(164, 202, 147, 0.3);
  position: relative;
  vertical-align: bottom;
  pointer-events: none;
  display: inline;
  margin: 0;
  color: #767676;
  padding: 2px 0;
  padding-left: 6px;
}
gu-correct.note--start:before {
  content: '\2713';
  position: inherit;
  margin-left: -4px;
  margin-right: 2px;
  padding: 0.17em 0.3em;
  background-color: #649c4b;
  border-bottom: 1px solid #649c4b;
  color: white;
  font-size: 0.9em;
  cursor: pointer;
}
gu-correct.note--start:hover {
  cursor: inherit;
}
gu-correct.note--end {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 8 20' version='1.1'><path d='M 8 20 L 2 20 L 8 14 L 8 20 L 6 20 L 6 0 L 8 0' fill='%23649c4b' stroke='none'/></svg>") bottom right / contain no-repeat, url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 2 1' version='1.1'><line x1='0' y1='0' x2='2' y2='0' stroke='%23649c4b' stroke-dasharray='1'/></svg>") top / 2px repeat-x, url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 2 1' version='1.1'><line x1='0' y1='0' x2='2' y2='0' stroke='%23649c4b' stroke-dasharray='1'/></svg>") bottom / 2px repeat-x;
  background-color: rgba(164, 202, 147, 0.3);
  position: relative;
  vertical-align: bottom;
  pointer-events: none;
  display: inline;
  margin: 0;
  color: #767676;
  padding: 2px 0;
  margin-right: 1px;
  padding-right: 4px;
}
gu-correct.note--end:hover {
  cursor: inherit;
}
gu-correct.note--collapsed {
  display: none;
  /* only the start of the note used to display collapsed note */
}
gu-correct.note--collapsed.note--start {
  transition: width 0.15s ease,
    margin 0.15s ease;
  padding: 0;
  margin: 0 2px;
  width: 14px;
  height: 1em;
  display: inline-block;
  overflow: hidden;
  text-indent: 24px;
  vertical-align: middle;
  pointer-events: all;
}
gu-correct.note--collapsed:hover {
  margin: 0;
  width: 18px;
  cursor: pointer;
}
gu-correct.note--start.note--end,
gu-correct.note--start.note--collapsed {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 2 1' version='1.1'><line x1='0' y1='0' x2='2' y2='0' stroke='%23649c4b' stroke-dasharray='1'/></svg>") top / 2px repeat-x, url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 2 1' version='1.1'><line x1='0' y1='0' x2='2' y2='0' stroke='%23649c4b' stroke-dasharray='1'/></svg>") bottom / 2px repeat-x, url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 8 20' version='1.1'><path d='M 8 20 L 2 20 L 8 14 L 8 20 L 6 20 L 6 0 L 8 0' fill='%23649c4b' stroke='none'/></svg>") bottom right / contain no-repeat;
  background-color: rgba(164, 202, 147, 0.3);
  margin-right: 1px;
  padding-right: 4px;
  margin-left: 1px;
  padding-left: 4px;
}
gu-correct.note--start.note--end:before,
gu-correct.note--start.note--collapsed:before {
  content: '\2713';
  position: inherit;
  margin-left: -4px;
  margin-right: 2px;
  padding: 0.17em 0.3em;
  background-color: #649c4b;
  border-bottom: 1px solid #649c4b;
  color: white;
  font-size: 0.9em;
  cursor: pointer;
}
/**
 * Hitzone pseudo-elements used for hitzones at start and end of notes for
 * toggling note collapse.
 */
.note--start::before {
  content: ' ';
  position: absolute;
  width: 8px;
  height: 100%;
  cursor: pointer;
  pointer-events: all;
  margin-left: -5px;
}
.note--end::after {
  content: ' ';
  position: absolute;
  width: 8px;
  height: 100%;
  cursor: pointer;
  pointer-events: all;
}
.note-barrier {
  /* Keeps note barriers inline. */
  display: inline-block;
}
