@import './note-background.less';

.note-body(@border-color, @background-color) {
  .note-background(@border-color, @background-color);

  position: relative;
  vertical-align: bottom;
  pointer-events: none;

  display: inline;
  margin: 0;
  color: @note-text-colour;
  padding: 2px 0;

  &:hover {
    cursor: inherit;
  }
}


